html, body {
	height: 100%;
}

body {
	margin: 0
}

.react-quiz-container {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
}

.react-quiz-container .quiz-title {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	padding: 20px;
	background: #f2f3f4;
	color: #29304a;
}

.react-quiz-container .question-title {
	font-size: 30px;
	font-weight: bold;
	padding: 50px;
	margin: 50px;
	border: 2px solid #e8e8e8;
	border-radius: 15px;
}

.react-quiz-container .answer-option {
    padding: 15px;
    color: #000000;
    background: #fff;
    cursor: pointer;
    width: 50%;
    display: inline-grid;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    font-size: 25px;
}

.react-quiz-container .answer-option:hover {
	background: #f2f3f4;
}


.react-quiz-container .img-answer {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	width: 240px;
    height: 160px;
    border: 10px solid #fff;
}

.react-quiz-container .answer-container {
	text-align: center;
}

.react-quiz-container .result-question {
	margin: 20px;
}

.react-quiz-container .result-answer .correct {
	background: #2e7b32 ;
	color: #fff
}

.react-quiz-container .result-answer .user-incorrect {
	background: #d32f2f;
	color: #fff
}

.react-quiz-container .result-answer .img-answer.correct {
	border: 10px solid #2e7b32;
}

.react-quiz-container .result-answer .img-answer.user-incorrect {
	border: 10px solid #d32f2f;
}

.react-quiz-container .result-container ul li,
.react-quiz-container .result-container .img-answer {
	cursor: inherit;
}